@model Student_Grade_Management_System.Models.Review

@{
    ViewData["Title"] = "Review";
}

<h2>Redaguoti atsiliepimą</h2>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

    @if (ViewData["Errors"] != null)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in (List<string>)ViewData["Errors"])
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }
    <div class="form-group">
        <label for="Teacher_Username">Mokytojas:
        <input type="text" class="form-control" id="Teacher_Username" name="Teacher_Username" value="@ViewData["TeacherName"]" style="border: none;" readonly />
        </label>
    </div>

    <div class="form-group">
        <label for="Type">Tipas</label>
        <select asp-for="Type" class="form-control" asp-items="@(ViewData["ReviewTypes"] as SelectList)">
            <!-- Tipų pasirinkimas iš SelectList -->
        </select>
    </div>

    <div class="form-group">
        <label for="Student_Username">Mokinys</label>
        <select asp-for="Student_Username" class="form-control" asp-items="@(ViewData["Students"] as SelectList)">
            <!-- Tipų pasirinkimas iš SelectList -->
        </select>
    </div>

    <div class="form-group">
        <label for="Date">Data</label>
        <input type="date" class="form-control" id="Date" name="Date" value="@Model.Date.ToString("yyyy-MM-dd")" required />
    </div>

    <div class="form-group">
        <label for="Content">Turinys</label>
        <textarea class="form-control" id="Content" name="Content" rows="4" required>@Model.Content</textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Išsaugoti pakeitimus</button>
</form>

<a asp-controller="Review" asp-action="Index" class="btn btn-secondary mt-3">Atgal į sąrašą</a>
@section Scripts {
    <!-- Pridėti SweetAlert skriptą -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function showMessage(message, type) {
            Swal.fire({
                title: type === 'success' ? 'Pavyko!' : 'Klaida!',
                text: message,
                icon: type,
                showConfirmButton: false,
                timer: 3000
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            var errorMessage = "@Html.Raw(TempData["ErrorMessage"])";
            var successMessage = "@Html.Raw(TempData["SuccessMessage"])";
            if (errorMessage) {
                showMessage(errorMessage, 'error');
            }
            if (successMessage) {
                showMessage(successMessage, 'success');
            }
        });
    </script>
}
