<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Student_Grade_Management_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Student_Grade_Management_System.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/tamopeleda.png" alt="Mokinių įvertinimai" class="img-fluid" style="width: 40px;" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><b>Mokinių valdymo sistema</b></a>
                        </li>
                        @if (Context.Session.GetString("UserType") == "Admin" || Context.Session.GetString("UserType") == "Teacher"){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Mokiniai</a>
                        </li>
                        @if (Context.Session.GetString("UserType") == "Admin"){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Classes" asp-action="Index">Klasės</a>
                        </li>
                        }}
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Schedule" asp-action="Index">Tvarkaraštis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Marks" asp-action="Index">Įvertinimai</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Review" asp-action="Index">Atsiliepimai</a>
                        </li>
                        @if (Context.Session.GetString("UserType") != "Student"){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="Index">Ataskaitos</a>
                        </li>
                        }
                        @if (Context.Session.GetString("UserType") != "Teacher"){
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Teachers" asp-action="Index">Mokytojai</a>
                        </li>
                        }
                        @if (Context.Session.GetString("UserType") == "Admin"){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Subject" asp-action="Index">Dalykai</a>
                        </li>
                        }
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex" style="float: right;">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="studentsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Mokytojas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="classesDropdown">
                                <li><p>Mokytojo vardas pavardė</p></li>
                                <li><a class="dropdown-item" asp-controller="Profile" asp-action="TProfile">Mokytojo profilis</a></li>
                            </ul>
                        </li>
                        @if (Context.Session.GetString("UserType") == "Student")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="studentsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Mokinys
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="classesDropdown">
                                    <li><p>@Context.Session.GetString("Name")</p></li>
                                    <li><a class="dropdown-item" asp-controller="Profile" asp-action="Index" asp-route-username="S-Agne">Mokinio profilis</a></li>
                                    <li><a class="dropdown-item" asp-controller="Students" asp-action="History">Mokinio istorija</a></li>
                                </ul>
                            </li>
                        }
                        @* <a asp-controller="Client" asp-action="Login" class="btn btn-primary">Prisijungti</a> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Client" asp-action="Logout">Atsijungti</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Student_Grade_Management_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function showMessage(message, type) {
            Swal.fire({
                title: type === 'success' ? 'Pavyko!' : 'Klaida!',
                text: message, // Pranešimo tekstas čia
                icon: type,
                showConfirmButton: false,
                timer: 3000
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            var errorMessage = "@Html.Raw(TempData["ErrorMessage"])";
            var successMessage = "@Html.Raw(TempData["SuccessMessage"])";
            if (errorMessage) {
                showMessage(errorMessage, 'error');
            }
            if (successMessage) {
                showMessage(successMessage, 'success');
            }
        });
    </script>
</body>
</html>
