@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <h1>Profilis</h1>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Vardas ir pavardė: @Model.Name @Model.Surname</h5>
            <p class="card-title">Gimimo data: @Model.Birth_Date</p>
            <p class="card-text">Mokykla: @ViewBag.CurrentSchool.Name</p>
            <p class="card-title">Klasė: @Model.Class_Number @Model.Class_Letter</p>
        </div>
    </div>

</div>

<a asp-controller="Students" asp-action="Index" class="btn btn-secondary">Atgal į studentų sąrašą</a>
<a asp-controller="Students" asp-action="Extract" asp-route-username="@Model.Username" class="btn btn-primary">Duomenų ištraukimo langas</a>
<a asp-controller="Students" asp-action="Change" asp-route-username="@Model.Username" class="btn btn-primary">Duomenų keitimo langas</a>

